{% extends "base.html" %}
{% from "macros/cards.html" import smallCard %}
{% from "macros/cards.html" import mocard %}

{% block title %}Weet wat je Eet - Zoekresultaten {{zoekterm}}{% endblock %}

{% block content %}
<div class="row mt-1">
    <h4 class="mb-0">
        De volgende resultaten zijn gevonden voor "{{zoekterm}}"
    </h4>
    {% if zoekresultaten_eten %}
        <h2 class="mb-1 mt-3">Zoekresultaten producten</h2>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            {% for e in zoekresultaten_eten %}
                {{ smallCard(e.naam, e.categorie, e.categorie, "bg-primary", url_for('detail_eten', id=e.id)) }}
            {% endfor %}
        </div>
    {% endif %}

    {% if zoekresultaten_mo %}
        <h2 class="mb-1 mt-4">Zoekresultaten micro-organismen</h2>
        <div class="row row-cols-1 row-cols-md-3 g-2">
            {% for m in zoekresultaten_mo %}
                {{ mocard(m.id, m.naam, m.herkenning, m.risiconiveau) }}
            {% endfor %}
        </div>
    {% endif %}

    {% if not zoekresultaten_eten and not zoekresultaten_mo %}
        <div class="alert alert-info mt-3">
            Geen resultaten gevonden voor deze zoekopdracht.
        </div>
    {% endif %}

</div>
{% endblock %}
